@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background-dark text-text-primary font-display antialiased;
    }
}

@layer components {
    /* Material Symbols Icons */
    .material-symbols-outlined {
        font-variation-settings:
            "FILL" 0,
            "wght" 400,
            "GRAD" 0,
            "opsz" 24;
        user-select: none;
    }

    /* Neon Border for Active Sidebar Item */
    .neon-border-active {
        border-right: 3px solid #00e677;
        box-shadow: inset -10px 0 15px -10px rgba(0, 230, 119, 0.4);
    }
}
